.container {
    display: grid;
    align-items: center;
    justify-content: center;
  
    width: 100vw;
    height: 100vh;
  

    /* background-color: #4d944b; */
    /* background-color: #4d4b94; */
    /* background: linear-gradient( 45deg, yellow, blue ); */
    background-image: url( "https://freepngimg.com/download/artwork/177141-photos-vector-picsart-forest-hd-image-free.png" ), linear-gradient( 360deg, rgb(249, 230, 103), rgba(59, 124, 244, 0.924) );
    background-position: bottom;
    background-repeat: no-repeat;
}

.text {
    color: white;
    font-size: 50px;
    font-family: "Comic Sans MS";
}

@keyframes color-change {
    0% { color: red; }
    20% { color: yellow }
    40% { color: lime; }
    60% { color: blue; }
    80% { color: purple; }
    90% { color: pink; }
    100% { color: red; }
}

.Title2 {
    color: blue;
    animation: color-change 5s infinite;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
}