* {
  font-family: "Comic Sans MS";
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient( 45deg, lime, rgb(255, 0, 0) );


  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: red;
  overflow: hidden;
}

.App2 {
  border: black 5px solid;
}

.MUIButton {
  font-family: "Comic Sans MS";
}